*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100vw;
    height: auto;
    position: fixed;
    text-align: center;
    background-color: rgb(var(--yc-background-color));
    z-index: 1;
}

.header .logo {
    font-family: logo;
    font-size: 90px;
}

.header p {
    margin: 0px;
    font-size: 15px;
    color: rgba(var(--text-color), 0.7);
}

.header input {
    width: 60vw;
    padding: 20px;
    margin-top: 20px;
}

.header h3 {
    padding: 10px 0px 0px 50px;
    text-align: start;
}

.movie-container {
    padding: 240px 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 130px);
    grid-template-rows: repeat(200px);
    justify-content: center;
}
.movie-container button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.movie-container img {
    width: 130px;
    height: 200px;
    box-shadow: -1px 2px 5px 0px rgba(var(--box-shadow-color), 0.7);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(var(--box-shadow-color), 0.7);
    -moz-box-shadow: -1px 2px 5px 0px rgba(var(--box-shadow-color), 0.7);
}

.movie-box .movie img:hover,
.movie-container img:hover {
    scale: 1.1;
    transition: var(--transition-delay);
}

@media only screen and (max-width: 760px) {
    .header .logo{
        margin-top: 40px;
        font-size: 60px;
    }
    .header p{
        font-size: 12px;
    }
}